[Unit]
Description=Jukebox Controlled through rfid
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=juke
ExecStart=python3 -m jukebox

[Install]
WantedBy=multi-user.target
